<h1>{{userName}}</h1>
<img src="{{userImg}}" alt="">

<h2>{{eventName}}</h2>
<h4>{{eventStart}}</h4>
<h4>{{eventEnd}}</h4>

<h3>hosted by</h3>
<img src="{{hostImage}}" alt="">
<h5>{{hostName}}</h5>

<h3>Attendees</h3>
{{#each attendeesImgs}}
<img src="{{this}}" alt="">
<h5>name</h5>
{{#each attendeesNames}}
<h5>{{this}}</h5>
{{/each}}
{{/each}}


<h3>Alarm before {{alarmDuration}}</h3>