<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.css" />
<link rel="stylesheet" href="/stylesheets/style.css">

<div class="container-content">
  <h1>Welcome to your personal page</h1>
  <img src={{user.image}} id="profileImg">
  <section>
    <h5>change your profile picture</h5>
    <form action="/upload-profile-img" method="post" enctype="multipart/form-data">
      <input type="file" name="user-img" id="myFile">
      <label for="myFile" id="upload-file-label">Choose your file</label>
      <button type="submit">Submit</button>
    </form>
    <form action="/delete-profile-img" method="POST">
      <button class="img-button img-button-top" type="submit">Delete your image</button>
    </form>
  </section>
  <p>Welcome to {{user.email}}</p>
  <p>Country Name: {{zone.countryName}}</p>
  <p>Zone Name: {{zone.zoneName}}</p>
  <p id="date"></p>
  <div id="txt"></div>
  <br>
  <a id="invite-button" href="/invite">Invite</a>
</div>
<h1>Please select the user you want to invite:</h1>
<form action="/invite" method="POST">
  <select name="event">
    {{#each events}}
    <option value="{{this._id}}">{{this.text}}</option>
    {{/each}}
  </select>
  <input type="email" name="email" placeholder="Email" />
  <button type="submit">Invite</button>
</form>

<body onload="start();">
  <div id="scheduler_here" class="dhx_cal_container" style="width: 80%; height: 60%; margin: 0 auto;">
    <div class="dhx_cal_navline">
      <div class="dhx_cal_prev_button">&nbsp;</div>
      <div class="dhx_cal_next_button">&nbsp;</div>
      <div class="dhx_cal_today_button"></div>
      <div class="dhx_cal_date"></div>
      <div class="dhx_cal_tab" name="day_tab"></div>
      <div class="dhx_cal_tab" name="week_tab"></div>
      <div class="dhx_cal_tab" name="month_tab"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>
  </div>

  <script src="/javascripts/script"></script>
  <script src="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.js"></script>