<h1>Welcome to your personal page</h1>
<p>Welcome to {{user.email}}</p>
{{!-- <p>Countries Zones:</p>  --}}
{{!-- {{#each data.zones}}
<p>{{this.zoneName}} </p>
{{/each}} --}}
  <label for="">Countries Zones:</label>
 <select name="country">
    {{#each data.zones}}
    <option value="{{this.zoneName}}">{{this.zoneName}}</option>
    {{/each}}
  </select>
  <br>
<p>Date and hour: {{zone.formatted}}</p>
<a href="/logout">Log out</a>
<h3 id="time">time now</h3>
<script>
  let d = new Date()
document.getElementById('time').innerText = d

</script>